html, body {
  margin: 0;
  padding: 0;
  background-color: #353536;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: #353536;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-right: 115px;
  margin-left: 115px;
}
nav .logo {
  width: 50px;
  height: 50px;
}

.app {
  font-size: 22px;
  display: flex;
  color: white;
}

nav div ul {
  font-size: 20px;
  display: flex;
}

nav div ul li {
  color: rgba(255, 255, 255, 0.411);
  list-style-type: none;
  justify-content: space-between;
  padding: 10px;
  margin-right: 45px;
}

nav div ul li:hover {
  color: #B41EFA;
}

.contact {
  width: 140px;
  height: 50px;
  color: white;
}

.contact1 {
  border-width: 1px;
  border-style: solid solid;
  border-color: white;
  color: white;
  border-radius: 10%;
}

.triangle {
  margin-left: 800px;
  position: relative;
}

.rec {
  display: flex;
  margin-left: 120px;
  margin-top: -250px;
}

.title {
  color: white;
  font-size: 70px;
}

.para {
  color: rgba(255, 255, 255, 0.411);
  font-size: 16px;
  line-height: 30px;
  margin-top: -55px;
}

.showcase {
  color: white;
  margin-left: 55px;
  margin-top: 220px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.app {
  width: 650px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mockup {
  margin-left: 35px;
}

.boutons {
  width: 1000px;
}

.bouton {
  background-image: linear-gradient(to right, #46C2FF, #BD11FA);
  border: none;
  color: white;
  width: 290px;
  height: 75px;
  padding: 15px;
  border-radius: 5px;
  font-size: 25px;
  position: relative;
  margin-top: 70px;
  margin-right: 90px;
  box-shadow: 0 0 20px #f700ff;
}

.bouton2 {
  background-color: rgba(255, 255, 255, 0);
  width: 250px;
  height: 75px;
  padding: 15px;
  border-radius: 5px;
  font-size: 25px;
  border-style: solid solid;
  border-color: white;
  color: white;
  border-radius: 5px;
  position: relative;
}

.partnersco {
  display: flex;
}

.apple {
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 150px;
  top: 182%;
  left: 730px;
}

.puma {
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 150px;
  top: 149%;
  left: 690px;
}

.inky {
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 150px;
  top: 165%;
  left: 390px;
  padding-left: 75px;
  padding-right: 75px;
}

.microsoft {
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 150px;
  top: 165%;
  left: 65px;
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.aws {
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 150px;
  top: 145%;
  left: 390px;
}

.disney {
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 150px;
  top: 180%;
  left: 90px;
}

.converse {
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 150px;
  top: 182%;
  left: 420px;
}

.nike {
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 150px;
  top: 165%;
  left: 770px;
}

.info {
  width: 400px;
  margin-left: 800px;
  margin-top: 300px;
}

h1 {
  font-size: 35px;
  color: white;
}

.infomore {
  color: rgba(255, 255, 255, 0.411);
  font-size: 16px;
  line-height: 30px;
  width: 500px;
}

.rond {
  width: 375px;
  position: absolute;
  margin-left: 1527px;
  margin-top: 550px;
  height: 650px;
  overflow: hidden;
}

.green {
  background-color: rgba(0, 128, 0, 0.308);
  color: #5dff5d;
  height: 45px;
  text-align: center;
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  margin-bottom: -15px;
}

.bouton3 {
  background-image: linear-gradient(to right, #46C2FF, #BD11FA);
  border: none;
  color: white;
  width: 290px;
  height: 75px;
  padding: 15px;
  border-radius: 5px;
  font-size: 25px;
  position: relative;
  margin-top: 70px;
  margin-right: 90px;
  box-shadow: 0 0 20px #f700ff;
  margin-top: 2px;
}

.info2 {
  margin-left: 160px;
  margin-top: 900px;
}

/*# sourceMappingURL=main.css.map */
