@import "src/variables.scss";
@import "src/mixins.scss";

html, body {
    margin:0;
    padding:0;
    background-color: $bg;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: $bg;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-right: 115px;
    margin-left: 115px;


.logo{
        width: 50px;
        height: 50px;

}}
//imbrication 
.app{
    font-size: 22px;
    display: flex;
    color: $white;
}

nav div ul {
    font-size: 20px;
    display: flex;
}
nav div ul li {
    color: rgba(255, 255, 255, 0.411);
    list-style-type: none;
    justify-content: space-between;
    padding: 10px;
    margin-right: 45px;
}

nav div ul li:hover {
    color: $purple;
}

.contact{
    width: 140px;
    height: 50px;
    color: white;
}

.contact1{
    border-width:1px;
    border-style:solid solid;
    border-color: white;
    color: white;
    border-radius: 10%;
}

.triangle{
    margin-left: 800px;
    position: relative;
}

.rec{
    display: flex;
    margin-left: 120px;
    margin-top: -250px;
}

.title{
    @include titre;
}

.para{
    @include parag;
    margin-top: -55px;
}

.showcase{
    color: white;
    margin-left: 55px;
    margin-top: 220px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.app{
    width: 650px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.mockup{
    margin-left: 35px;
}

.boutons{
    width: 1000px;
}
.bouton{
    @include btn;
}

.bouton2{
    background-color: rgba(255, 255, 255, 0);
    width: 250px;
    height: 75px;
    padding: 15px;
    border-radius: 5px;
    font-size: 25px;
    border-style:solid solid;
    border-color: white;
    color: white;
    border-radius: 5px;
    position: relative;

}

.partnersco{
    display: flex;

}

.apple{
    @include marques();
    top: 182%;
    left: 730px;
}


.puma{
    @include marques();
    top: 149%;
    left: 690px;
}

.inky{
    @include marques();
    top: 165%;
    left: 390px;
    padding-left: 75px;
    padding-right: 75px;
}
.microsoft{
    @include marques();
    top: 165%;
    left: 65px;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.aws{
    @include marques();
    top: 145%;
    left: 390px;
}

.disney{
    @include marques();
    top: 180%;
    left: 90px;
}

.converse{
    @include marques();
    top: 182%;
    left: 420px;
}

.nike{
    @include marques();
    top: 165%;
    left: 770px;
}


.info{
    width: 400px;
    margin-left: 800px;
    margin-top: 300px;
}

h1{
    font-size: 35px;
    color: $white;
}
.infomore{
    @include parag;
    width: 500px;    
}

.rond{
    width: 375px;
    position: absolute;
    margin-left: 1527px;
    margin-top: 550px;
    height: 650px;
    overflow: hidden;
}

.carre{

}

.green{
    background-color: rgba(0, 128, 0, 0.308);
    color: rgb(93, 255, 93);
    height: 45px;
    text-align: center;
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: -15px;
}

.bouton3{
        @include btn; 
        margin-top: 2px;
}

.info2{
    margin-left: 160px;
    margin-top: 900px;
}