@import "src/variables.scss";
@import "src/mixins.scss";


html {
    background-color: $bg;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}

nav {
    background-color: $bg;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-right: 15%;
    margin-left: 15%;
  }

.logo{
        width: 50px;
        height: 50px;
}

.app{
    font-size: 22px;
    display: flex;
    color: $white;
}

nav div ul {
    font-size: 20px;
    display: flex;
}
nav div ul li {
    color: rgba(255, 255, 255, 0.411);
    list-style-type: none;
    justify-content: space-between;
    padding: 10px;
    margin-right: 20px;
}

nav div ul li:hover {
    color: $purple;
}

.contact{
    width: 115px;
    height: 50px;
    color: white;
}

.contact1{
    border-width:1px;
    border-style:solid solid;
    border-color: white;
    color: white;
    border-radius: 10%;
}

.bouton{
    background-color: rgb(0, 110, 255);
    border: none;
    color: white;
    width: 10%;
    height: 10%;
    padding: 15px;
    border-radius: 45px;
    font-size: 18px;
    &:hover{
        color: black;
    }
}